@charset "UTF-8";

/*configurações gerais*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain; /*para a imagem se encaichar enteira no site*/
    background-repeat: no-repeat; /*para não repetir a imagem*/
}
h1{
    color: white;
    text-shadow: 2px 2px 0px #14238f;
    padding: 10px;
}